src/main/mule/publisher-flows/publish-salesorder.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="publish-salesorder-to-queue-flow" doc:id="49be2f01-faf0-4cf5-afca-524010d6753e" >
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"messageSchema": {&#10;		"correlationId": correlationId,&#10;		"businessId": correlationId,&#10;		"messageType": "salesorder"&#10;	}&#10;}]' doc:name="Set FlowContext" doc:id="3610bf22-24be-49be-856e-942ac0ffd636" variableName="flowContext" />
		<logger level="INFO" doc:name="Log Request" doc:id="cfa070f5-e8ed-4a1e-b3fd-82a489f1605d" message="=======Received salesorder request, BusinessUnitName: #[payload.Message.BusinessUnitName]  | correlationId: #[vars.flowContext.messageSchema.correlationId] | messageType: #[vars.flowContext.messageSchema.messageType]============" />
		<set-variable value="#[payload.Queue.queueUrl]" doc:name="queueUrl" doc:id="42034c0c-e6ae-46bb-a3d4-53c41a60b980" variableName="queueUrl" />
		<set-variable value='#[write(payload.Message,"application/json")]' doc:name="messageBody" doc:id="a44ff0a1-a2af-4da8-a65b-85bb4f881505" variableName="messageBody" />
		<ee:transform doc:name="Form Request as POJO" doc:id="bb316524-dfcb-432f-b685-0345292c0c7f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	body: vars.messageBody as String,
	deduplicationId: null,
	delaySeconds: null,
	groupId: null,
	id: null,
	messageAttributes: {
		"correlationId": {
			"stringValue": vars.flowContext.messageSchema.correlationId,
			"dataType": "String.correlationId"
		} as Object {
			class: "org.mule.extension.sqs.api.model.MessageAttributeValue"
		},
		"businessId": {
			"stringValue": vars.flowContext.messageSchema.businessId,
			"dataType": "String.businessId"
		} as Object {
			class: "org.mule.extension.sqs.api.model.MessageAttributeValue"
		},
		"messageType": {
			"stringValue": vars.flowContext.messageSchema.messageType,
			"dataType": "String.messageType"
		} as Object {
			class : "org.mule.extension.sqs.api.model.MessageAttributeValue"
		}
	} as Object {
		class: "java.util.HashMap"
	},
	receiptHandle: null
} as Object {
	class : "org.mule.extension.sqs.api.model.Message"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference to common-sqs-publisher-sub-flow" doc:id="67b90eab-199e-4f31-8617-98dbca1d53c2" name="common-sqs-publisher-sub-flow" />
		<ee:transform doc:name="Transform Response" doc:id="56cd0c5d-0c3a-4b54-b4a5-543081d6cc57" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Response" doc:id="9046a470-d373-4be4-8ebe-2b8a346e0d9c" message="======== Response from SQS publish: #[payload] | correlationId: #[vars.flowContext.messageSchema.correlationId] | messageType: #[vars.flowContext.messageSchema.messageType]" />
	</flow>
</mule>
