src/main/mule/publisher-flows/publish-purchaseorder.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sns="http://www.mulesoft.org/schema/mule/sns"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sns http://www.mulesoft.org/schema/mule/sns/current/mule-sns.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="publish-purchaseorder-to-topic-flow" doc:id="7686d40b-c6d7-48f5-8bbd-3aa8b8660be0" >
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"messageSchema": {&#10;		"correlationId": correlationId,&#10;		"businessId": correlationId,&#10;		"messageType": "purchaseorder"&#10;	}&#10;}]' doc:name="Set FlowContext" doc:id="9e79fd5b-6994-4dcc-9d19-5e0f90098bd6" variableName="flowContext" />
		<logger level="INFO" doc:name="Log Request" doc:id="c46f6828-113a-46f9-8482-aa3d01dbccc9" message="Received purchaseorder request: PO Number #[payload.Message.data.po_number] | correlationId: #[vars.flowContext.messageSchema.correlationId] | messageType: #[vars.flowContext.messageSchema.messageType]" />
		<set-variable value="#[payload.Topic.topicArn]" doc:name="topicArn" doc:id="be1a5f9d-da60-49ae-9661-5e2755992de4" variableName="topicArn" />
		<set-variable value='#[write(payload.Message,"application/json")]' doc:name="messageBody" doc:id="52896f53-5edf-417f-89b1-196c8ef15dc0" variableName="messageBody" />
		<flow-ref doc:name="Flow Reference to common-sns-publisher-sub-flow" doc:id="b0ebf4df-d5dc-4e4a-8006-c05361ac348a" name="common-sns-publisher-sub-flow"/>
		<ee:transform doc:name="Transform Response" doc:id="f8cfac8c-fe1b-4953-8019-9b8bfe7a7433" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Response" doc:id="077b2dc6-4d26-4a97-8103-ef0a71dad7de" message="=======Response from SNS publish: #[payload] | correlationId: #[vars.flowContext.messageSchema.correlationId] | messageType: #[vars.flowContext.messageSchema.messageType]" />
	</flow>
</mule>
